<!-- Übung 1 -->
<h2>Übung 1: Wechsel zwischen Sonne und Regenwolke mit Blume </h2>
<div class="exercise-container">
  <app-sun></app-sun>
  <app-flower></app-flower>
</div>

<!-- Übung 2 -->
<h2>Übung 2: Anordnung der Blumen um die Sonne</h2>
<div class="flower-arrangement">
  <app-sun class="center-sun"></app-sun>
  <app-flower class="flower" *ngFor="let flower of flowers"></app-flower>
</div>

<!-- Übung 3 -->
<h2>Übung 3: Wechsel zwischen Sonne und Regenwolke</h2>
<div class="exercise-container">
  <app-sun></app-sun>
</div>
